.highlight {
  position: relative;
  margin: 1em 0;
  border-radius: 2px;
  line-height: 1.1em;
  background-color: #282c34;
  overflow-x: auto;
}
.highlight figcaption {
  font-size: .9em;
  padding: .4em;
  border-bottom: 1px solid #bdc3c7;
}
.highlight table, .highlight tr, .highlight td {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}
.highlight .gutter {
  display: none;
}
.highlight .code pre {
  padding: 1.2em 1.4em;
  line-height: 1.5em;
  margin: 0;
}

.highlight.html .code:after, .highlight.js .code:after, .highlight.bash .code:after, .highlight.css .code:after, .highlight.scss .code:after, .highlight.diff .code:after, .highlight.java .code:after, .highlight.xml .code:after, .highlight.python .code:after, .highlight.json .code:after, .highlight.swift .code:after, .highlight.ruby .code:after, .highlight.perl .code:after, .highlight.php .code:after, .highlight.c .code:after, .highlight.cpp .code:after, .highlight.ts .code:after, .highlight.javascript .code:after,.highlight.config .code:after {
  position: absolute;
  top: 0;
  right: 0;
  color: #bdc3c7;
  text-align: right;
  font-size: 0.75em;
  padding: 5px 10px 0;
  line-height: 15px;
  height: 15px;
  font-weight: 600;
}

.highlight.html .code:after {
  content: "HTML";
}

.highlight.js .code:after {
  content: "JS";
}

.highlight.javascript .code:after {
  content: "JS";
}

.highlight.bash .code:after {
  content: "BASH";
}

.highlight.css .code:after {
  content: "CSS";
}

.highlight.scss .code:after {
  content: "SCSS";
}

.highlight.diff .code:after {
  content: "DIFF";
}

.highlight.java .code:after {
  content: "JAVA";
}

.highlight.xml .code:after {
  content: "XML";
}

.highlight.python .code:after {
  content: "PYTHON";
}

.highlight.json .code:after {
  content: "JSON";
}

.highlight.swift .code:after {
  content: "SWIFT";
}

.highlight.ruby .code:after {
  content: "RUBY";
}

.highlight.perl .code:after {
  content: "PERL";
}

.highlight.php .code:after {
  content: "PHP";
}

.highlight.c .code:after {
  content: "C";
}

.highlight.java .code:after {
  content: "JAVA";
}

.highlight.cpp .code:after {
  content: "CPP";
}

.highlight.ts .code:after {
  content: "TS";
}

.highlight.cpp .code:after {
  content: 'C++';
}

.highlight.config .code:after {
  content: 'CONFIG';
}
