<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>&nbsp;|&nbsp;Banner Image <a href="https://unsplash.com" target="_blank">Unsplash</a><br>
      <font id="sum_counter"></font>
      <font id="detail_counter"></font>
      <div>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">IO10</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="www.pangjian.info" property="cc:attributionName" rel="cc:attributionURL">pangjian</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
      </div>
    </div>
  </div>
</footer>
