<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>&nbsp;|&nbsp;Banner Image <a href="https://unsplash.com" target="_blank">Unsplash</a><br>
      <font id="sum_counter"></font>
      <font id="detail_counter"></font>
    </div>
  </div>
</footer>